.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 48px;
}

.title h1, .title h4, .title h6 {
  margin: 0;
}

.container {
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
}

.container label {
  position: absolute;
  top: calc(-10px + 0.5vmin);
  left: 1vmin;
  padding: 0 4px;
  opacity: 0;
  background-color: #282c34;
  font-size: calc(10px + 1vmin);
  z-index: 2;
  transition: all 0.2s;
}

.container label.active {
  opacity: 1;
}

.container input {
  color: orange;
  background-color: transparent;
  border: 1px solid orange;
  padding: 16px;
  outline: none;
  text-align: center;
  font-size: calc(10px + 8vmin);
  font-weight: bold;
  width: 100%;
  z-index: 1;
}

.result, .error {
  padding: 16px;
  font-size: calc(10px + 2vmin);
  min-height: 60px;
  width: 75%;
  text-align: center;
}

.error {
  color: red;
}

.read-button {
  font-size: 12px;
  padding: 16px;
  border: 1px solid orange;
  color: orange;
  text-transform: uppercase;
  transition: all 0.2s;
}

.read-button:hover {
  color: #282c34;
  background-color: orange;
  cursor: pointer;
}

.read-button.disabled {
  cursor: not-allowed;
}
